<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paxton - Administração</title>
  <link rel="stylesheet" href="/index.css" />
</head>
<body class="body_adm">

  <button id="voltar" class="voltar">Voltar</button>

  <h1 class="h1_adm">Paxton</h1>
  <h2 class="h2_adm">Painel de Administração</h2>

  <div class="container_adm">
    <% models.forEach(function(model) { 
      if(model.status == 0) { %>

        <div class="modelo-box">
          <h3><%= model.nome %></h3>
          <img src="<%= model.foto_base64 %>" alt="Foto do modelo">
          <button id="aceitar" class="button_adm" onclick="aceitar('<%=model.chave_login%>')">aceitar</button>
          <button id="recusar" class="button_adm" onclick="rejeitar('<%=model.chave_login%>')">recusar</button>
        </div>

    <% } else if(model.status == 1) { %>

        <div class="modelo-box">
          <h3><%= model.nome %></h3>
          <img src="<%= model.foto_base64 %>" alt="Foto do modelo">
          <button class="button_adm" onclick="mudar_preco('<%=model.chave_login%>')">alterar preço</button>
        </div>
    <% }}); %>
  </div>

  <script>
    document.getElementById('voltar').onclick = function(){
      window.location.href = '/index.html';
    }
    function aceitar(chave_login){
      let preco = prompt("Qual será o preço da modelo?")
      fetch("/aceitar", {
          method: "POST",
          body: JSON.stringify({
            senha: chave_login,
            preco: preco
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        .then((response) => response.json())
        .then((json) => {
          if(json.status == 1) alert("Sucesso!")
          else alert("Erro!")
      });
    }
    function rejeitar(chave_login){
      fetch("/rejeitar", {
          method: "POST",
          body: JSON.stringify({
            senha: chave_login
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        .then((response) => response.json())
        .then((json) => {
          if(json.status == 1) alert("Sucesso!")
          else alert("Erro!")
      });
    }
    function mudar_preco(chave_login){
      let preco = prompt("Qual será o preço da modelo?")
      fetch("/mudar_preco", {
          method: "POST",
          body: JSON.stringify({
            senha: chave_login,
            preco: preco
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        .then((response) => response.json())
        .then((json) => {
          if(json.status == 1) alert("Sucesso!")
          else alert("Erro!")
      });
    }

  </script>

  <footer>Seu futuro conosco • versão 1.0</footer>

</body>
</html>
